<!DOCTYPE HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>
            User-SignUP
        </title>
    </head>
    <body>
        <header>
            <h1>SignUP</h1>
        </header>
        <form method="POST">
            <div class="signup-input">Username: 
                <input type="text" name="username">
                <p class="error">{username_error}</p>
            </div>

            <div class="signup-input">Password: 
                <input type="text" name="password">
                <p class="error">{password_error}</p>
            </div>

            <div class="signup-input">Verify Password: 
                <input type="text" name="verify_password">
                <p class="error">{verify_password_error}</p>
            </div>

            <div class="signup-input">Email (optional): 
                <input type="text" name="email">
                <p class="error">{email_error}</p>
            </div>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>